
tbody tr td img {
    width: 15rem;
}

tbody tr td {
    text-align: center;
}
tbody tr {
    margin-bottom: 1rem;
}
tbody tr td p {
    font-size: 1.7rem;
    text-transform: capitalize;
    font-weight: 600;
}
.td_qty {
    display: flex;
    align-items: center;
    background: #f5f7fa;
    padding: 1rem 1rem;
    width: 73%;
    justify-content: space-evenly;
    margin: auto;
}

.qty_much {
    display: flex;
    align-items: center;
}

.td_qty p {
    color: #6b6b6b;
}

.qty_much p {
    font-size: 2rem;
    cursor: pointer;
}

.qty_much .plus {
    margin-left: 1rem;
}

.qty_much .minus {
    margin-right: 1rem;
}

.qty_much .num {
    font-size: 1.6rem;
}

@media screen and (max-width:1100px){
    .right_cart {
        margin-bottom: 4rem;
    }
}
@media screen and (max-width:430px){
    tbody tr td p {
        font-size: 1.3rem;
    }
    .td_qty {
        padding: .5rem 1rem;
        width: 100%;
    }
    .td_qty p {
        margin-right: .9rem;
    }
}